/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
    color: #787878;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: white; /*#fbfbfb;*/
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 23px;
    zoom: 100%;
    margin:0;
    width:100%;
}
section header h1,section h1 {
    color: #444;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 30px;
}
p {
    letter-spacing: 0.5px;
}
.divider
{
    background-color:antiquewhite;
    width: 12%;
    height: 2px;
    margin-bottom: 35px;
}

/* ==========================================================================
   2.2 Buttons
   ========================================================================== */
   .btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
  }
  
  .btn-common {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 5px 30px;
    border-radius: 30px;
  }
  
  .btn-common:hover {
    color: #fff;
  }
  
  .btn-effect {
    overflow: hidden;
  }
  
  .btn-effect:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .btn-effect:hover:after {
    width: 100%;
  }
  
  .btn-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
  
  .btn-border:hover {
    color: #ffffff;
    background-color: #62893B;
  }
  
  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .btn-rm {
    padding: 7px 10px;
    text-transform: capitalize;
  }
  
  button:focus {
    outline: none !important;
  }
  
  .clear {
    clear: both;
  }


  



  