/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #787878;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: white; /*#fbfbfb;*/
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 23px;
    overflow:auto!important;
    zoom: 100%;
    margin:0;
    width:100%;
}
section header h1 {
    color: #444;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 10px;
    text-align: center;
    border-bottom-style: 1px solid;
}