<section id="service">
  <div class="container">

      <header style="padding-bottom:20px;">
          <div class="btnBlock-wrap">
              <h1>SERVICES</h1>
              <hr class="divider bg-darkers">
          </div>


      </header>
      <div class="row">
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>Embedded Systems</strong>
                          <p>
                              We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                          </p>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-BS" src="assets/images/symbol/Sym_BC.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>Blockchain Solutions</strong>
                          <p>
                              Making full-fledged cryptocurrency exchange, ICO solution, Integrate cruyptocurrency deposit and withdraw and payment.<a href="product details.html">Read more</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-WD" src="assets/images/symbol/Symbol WD.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>Website Design</strong>
                          <p>
                              Our reponsive web site designs will make you look good in every screen. Ecommerce, CMS, corporate, personal or custom web application.<a href="product details.html">Read more</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-BWA" src="assets/images/symbol/Symbol_AI.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>AI</strong>
                          <p>
                              We're experienced backend developers, powering data management tools for many of our clients. Get a software that adapts to your business and grows with it.<a href="product details.html">Read more</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-BPO" src="assets/images/symbol/Symbol BPO.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>BPO (Business Process Outsourcing)</strong>
                          <p>
                              Exoerience in simple jobs like data entry, labeling image with high pridcutivity and low costs.<a href="product details.html">Read more</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="detail-service">
                  <div class="col-md-3 col-xs-3 text-center">
                      <img class="symbol-MAD" src="assets/images/symbol/Symbol MA.svg" />
                  </div>
                  <div class="col-lg-9 col-xs-9">
                      <div class="text-service">
                          <strong>Mobile Apps Development</strong>
                          <p>
                              IOS and Android app development. Why pick a platform? Get your native or HTML5 apps to support all the major mobile platforms.<a href="product details.html">Read more</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>