<section id="service">
        <div class="container">
           <header style="padding-bottom:20px;">
              <div class="btnBlock-wrap">
                 <h1>SERVICES</h1>
                 <hr class="divider bg-darkers">
              </div>
           </header>
           <div class="row">
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3 text-center">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3 text-center">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="detail-service">
                    <div class="row">
                       <div class="col-md-3 col-xl-3 text-center">
                          <img class="symbol-ES" src="assets/images/symbol/Symbol em.svg" />
                       </div>
                       <div class="col-lg-9 col-xl-9">
                          <div class="text-service">
                             <strong>Embedded Systems</strong>
                             <p>
                                We're experienced in automotive domain with car navigation, ECU unit testing and development, drivers development, firmware middleware development. <a href="product details.html">Read more</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>