.parallax {
    position: relative;
    z-index: 1;
}

    .parallax .overlay {
        background-color: rgba(0,0,0,0.8);
    }
#home {
    color: #fff;
    display: block;
    background-color: #333;
    width: 100%;
    height: 100%;
    padding: 0;
    border-bottom: 8px solid #8b2688;
}

    #home h1,
    #home h2,
    #home h3,
    #home h4,
    #home h5,
    #home h6 {
        color: #fff;
    }

    #home ul li {
        left: 0;
    }

    #home .table {
        z-index: 10;
    }

    #home .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        transition: opacity 500ms;
        
    }
    #home .slider-current {
        opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
    }



#mobileMenu {
    margin-top: 3px;
    color: #F07057;
    display: none;
}



.parallax {
    background-color: #363636;
}

.text-slider {
    margin-top: 35px;
}

@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll !important;
        background-position: center !important;
        background-size: 1024px 100% !important;
    }
}

@-webkit-keyframes spin-me-right-round-baby {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-me-right-round-baby {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1220px) {
    .table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .text-slide {
        text-align: end;
        vertical-align: middle;
        margin-top: 508px;
        width: 885px;
    }
}

.btn-popup[_ngcontent-c2] {
    background: #8c288c;
    padding: 9px 40px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 700;
    text-shadow: none !important;
}
.btn-getsrat {
    margin-top: 60px;
}

.text-home {
    margin-top: 300px;
    background: rgba(96, 136, 31, 0.7);
    padding-top: 20px;
    padding-bottom: 50px;
}

    .text-home .detail-texthome {
        font-size: 32px;
    }
    /*hai-code-index*/
    .text-home .header-texthome {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
    }
@media only screen and (max-width: 768px) {
    .text-home {
        width: 100% !important;
        font-size: 33px;
    }

        .text-home .header-texthome {
            font-size: 30px !important;
            font-weight: 700;
            margin-bottom: 22px;
            line-height: 43px;
        }



        .text-home .detail-texthome {
            font-size: 18px;
        }
}






/*mobile onlu elements for menu navbar*/
.mobileOnlyNavItem {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}


@media only screen and (max-width: 479px) {

    .parallax h1,
    .parallax h2 {
        font-size: 30px;
        line-height: 36px;
    }
}


.modal {
    max-width: 750px !important;
}

@media only screen and (max-width: 400px) {
    .text-home {
        margin-top: 200px !important;
        padding-top: 0px !important;
        padding-bottom: 30px !important;
    }
}


@media only screen and (min-width: 1024px) {
    .text-home .header-texthome {
        word-break: break-all;
    }

    .detail-text-every {
        font-size: 32px;
        color: white;
        margin-top: -85px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 400px) {
    .text-home {
        margin-top: 100px;
        background: rgba(96,136,31,0.5215686274509804);
        padding-top: 30px;
        padding-bottom: 30px;
    }

        .text-home .header-texthome {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .text-home .detail-texthome {
            font-size: 20px;
        }
}


.text-home-every {
    text-align: -webkit-center;
    background: #8C6B8A;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    background-color: transparent;
    height:100%;
}
.table-cell[_ngcontent-c2] {
    vertical-align: middle;
    text-align: center;
    display: contents;
}

@media only screen and (max-width: 812px) {
    .text-home {
        width: 100% !important;
        font-size: 33px;
    }
        .text-home .header-texthome {
            font-size: 30px !important;
            font-weight: 700;
            margin-bottom: 22px;
            line-height: 43px;
        }
        .text-home .detail-texthome {
            font-size: 18px;
        }
}
button.filter.active.btn.btn-common.btn-effect {
    color: darkblue;
    font-weight: 500;
    padding: 10px 25px;
    background-color: blanchedalmond;
}


/*-------------------Modal-------------------*/
input#contact_name {
    margin-bottom: 10px;
  }
  select#form_need {
    margin-bottom: 10px;
  }
  textarea#contact_comment {
    margin-bottom: 10px;
  }
  input#contact_email {
    margin-bottom: 10px;
  }
  button.btn.btn-outline-dark.btn-common {
    color: black;
  }
  .modal-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0.5rem;
    padding-bottom: 0px;
  }
  .modal-content {
    background-color: linen;
    border: 1px solid #007bff;
    border-radius: 0.4rem;
  }
  @media only screen and (max-width: 768px)
  {
      .form-control {
        font-size: 0.8rem;
    }
  
  }