<section id="home" class="parallax" style="border-top: 5px solid #92278f;">
    <div class="slider slider-current" style="background: url(&quot;assets/images/demo/slider/Global-Growth.png&quot;) 50% "></div>
        <div class="table">
            <div class="table-cell">
                <div class="text-home">
                    <ul class="text-slider" style="display:none">
                        <li>
                            <p class="header-texthome">BUILD YOUR WEB AND MOBILE APPS</p>
                        </li>
                        <li>
                            <p class="header-texthome">GET YOUR AI AND BLOCKCHAIN TEAMS</p>
                        </li>
                        <li>
                            <p class="header-texthome">DEVELOP YOUR EMBEDDED SYSTEMS</p>
                        </li>
                    </ul>
                    <!--<p class="header-texthome"> BUILD YOUR WEB AND MOBILE APP</p>-->
                    <p class="detail-texthome">NAPA Global Helps You Realize Your Vision</p>
                </div>
                <div class="btn-getsrat">
                    <a class="btn-popup" href="#ex3" rel="modal:open">Get Started Today</a>
                </div>
            </div>
        </div>
    </section>