.parallax {
    position: relative;
    z-index: 1;
}

    .parallax .overlay {
        background-color: rgba(0,0,0,0.8);
    }
#home {
    color: #fff;
    display: block;
    background-color: #333;
    padding: 0;
    border-bottom: 8px solid #8b2688;
}


#mobileMenu {
    margin-top: 3px;
    color: #F07057;
    display: none;
}



.parallax {
    background-color: #363636;
}

@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll !important;
        background-position: center !important;
    }
}

@-webkit-keyframes spin-me-right-round-baby {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-me-right-round-baby {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn-popup[_ngcontent-c2] {
    background: #8c288c;
    padding: 9px 40px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 700;
    text-shadow: none !important;
}
.btn-getsrat {
    margin-top: 60px;
}
/*mobile onlu elements for menu navbar*/
.mobileOnlyNavItem {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

button.filter.active.btn.btn-common.btn-effect {
    color: darkblue;
    font-weight: 500;
    padding: 10px 25px;
    background-color: blanchedalmond;
}


/*-------------------Modal-------------------*/
input#contact_name {
    margin-bottom: 10px;
  }
  select#form_need {
    margin-bottom: 10px;
  }
  textarea#contact_comment {
    margin-bottom: 10px;
  }
  input#contact_email {
    margin-bottom: 10px;
  }
  button.btn.btn-outline-dark.btn-common {
    color: black;
  }
  .modal-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0.5rem;
    padding-bottom: 0px;
  }
  .modal-content {
    background-color: linen;
    border: 1px solid #007bff;
    border-radius: 0.4rem;
  }
  @media only screen and (max-width: 768px)
  {
      .form-control {
        font-size: 0.8rem;
    }
  }
