<!--
      <div class="row">
      <ul style="list-style: none;">
          <li class="customer" style="background-color: springgreen" ><a href="javascript:void(0);" (click)="filter('blockchain')">Blockchain Solutions</a></li>
         <li class="customer"><a href="javascript:void(0);" (click)="filter('web')">Web Development</a></li>
         <li class="customer"><a href="javascript:void(0);" (click)="filter('development')">Backend Applications</a></li>
         <li class="customer"><a href="javascript:void(0);" (click)="filter('apps')">Apps Development</a></li>
         <li class="customer"><a href="javascript:void(0);" (click)="filter('bpo')">BPO Services</a></li>

         <li class="customer" style="background-color: springgreen" ><a href="javascript:void(0);">Blockchain Solutions</a></li>
         <li class="customer"><a href="javascript:void(0);">Web Development</a></li>
         <li class="customer"><a href="javascript:void(0);">Backend Applications</a></li>
         <li class="customer"><a href="javascript:void(0);">Apps Development</a></li>
         <li class="customer"><a href="javascript:void(0);">BPO Services</a></li>
         </ul>
   </div>
-->


 <div class="row" style="margin-bottom: 20px">          
   <div class="col-md-12">
     <!-- Portfolio Controller/Buttons -->
     <div class="controls text-center">
       <a class="filter active btn btn-common btn-effect" data-filter="all">
         All 
       </a>
       <a class="filter btn btn-common btn-effect" data-filter=".design">
         Design 
       </a>
       <a class="filter btn btn-common btn-effect" data-filter=".development">
         Development
       </a>
       <a class="filter btn btn-common btn-effect" data-filter=".print">
         Print 
       </a>
     </div>
     <!-- Portfolio Controller/Buttons Ends-->
   </div>
 </div>

 <!-- Portfolio Recent Projects -->
 <div class="clearfix"></div>
 <div class="row portfolio-items">

      <ul class="sort-destination isotope" data-sort-id="isotope-list">
         <div class="row">
            <li class="col-md-3">
               <div class="item-box">
                     <figure>
                        <img class="img-responsive" src="assets/images/demo/carna.jpeg">
                        <!--<img class="img-responsive" src="assets/images/portfolio/nayalogo-new.jpg" height="263">-->
                     </figure>
                     <div class="item-box-desc text-center">
                        <h4>Car Navigator</h4>
                        <hr class="border divider-sm bg-green">
                        <small class="styleColor">Create a market cap service for Kyber Network coin base on decentralized.</small>
                     </div>
                     <hr class="border-isotope-item divider-sm">
               </div>
            </li>

            
            <li class="col-md-3">
                  <div class="item-box">
                        <figure>
                           <img class="img-responsive" src="assets/images/demo/carna.jpeg">
                           <!--<img class="img-responsive" src="assets/images/portfolio/nayalogo-new.jpg" height="263">-->
                        </figure>
                        <div class="item-box-desc text-center">
                           <h4>Car Navigator</h4>
                           <hr class="border divider-sm bg-green">
                           <small class="styleColor">Create a market cap service for Kyber Network coin base on decentralized.</small>
                        </div>
                        <hr class="border-isotope-item divider-sm">
                  </div>
               </li>

            
         </div>
      </ul>
  </div>

  