/*------------------Button-------------------------------*/
a.filter.btn.btn-common.btn-effect {
    margin: 5px;
}
a.filter.active.btn.btn-common.btn-effect :hover{
    background-color: #62893B; 
    border-radius: 20px;
}
img.card-img-top {
  height: 250px;
}

hr.border.divider-sm.bg-green {
  width: 15%;
  /* color: green; */
}



/*------------------Content-------------------------------*/


small, .small {
  display: block;
  font-size: 12px;
}
.card-body
{
  background: #D3D3D3;
  margin: 0px;
}
.card-body h4 {
  color: black;
  padding: 0px;
  margin: 0px;
  max-width: 224px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.card-body[_ngcontent-c9]:hover {
  background: green;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card-body[_ngcontent-c9]:hover h4[_ngcontent-c9][_ngcontent-c9] {
  color: white;
}
.card-body[_ngcontent-c9]:hover small[_ngcontent-c9] 
{
  color: white;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.35rem;
  text-align: -webkit-center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
}
.row.grid {
  width: 100%;
  left: 30px;
}


img.card-img-top[_ngcontent-c9] {
  height: 170px;
}
hr.border.divider-sm.bg-green[_ngcontent-c9] {
  width: 15%;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 8px;
}
.card-body[_ngcontent-c9] h4[_ngcontent-c9] {
  color: black;
  padding: 0px;
  margin: 0px;
  max-width: 224px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-weight: 500;
  font-size: 21px;
}


.border-isotope-item {
  height: 4px !important;
  padding: 0;
  margin: 6px auto 0px;
  border: none;
  border: 0;
  text-align: center;
  position: relative;
  clear: both;
  margin-bottom: 10px;
  height: 7px;
  border-radius: 10px;
  width: 12%;
  background: #618820;
}

.card-body[_ngcontent-c9]:hover hr.border-isotope-item.divider-sm{
  width: 35%;
  background-color: white;
}


/*------------------Respon ... -------------------------------*/

@media (min-width: 768px){
  .col-md-3[_ngcontent-c9][_ngcontent-c9] {
      flex: 0 0 24%;
      margin: auto;
      max-width: 22.5%;
      text-align: center;
      padding: 0;
      height: 280px;
  }
  .row.grid[_ngcontent-c9] {
      width: 100%;
      left: 30px;
  }
  .col-sm-6.col-md-3.grid-item {
    padding: 0px;
  }
}
