<div class="text-center">

  <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
    <!--<li data-option-value="*" class="active"><a href="index.html#">Show All</a></li>-->
    <li><a href="javascript:void(0);" (click)="filter('blockchain')">Blockchain Solutions</a></li>
    <li><a href="javascript:void(0);"  (click)="filter('web')">Web Development</a></li>
    <li><a href="javascript:void(0);" (click)="filter('development')">Backend Applications</a></li>
    <li><a href="javascript:void(0);" (click)="filter('apps')">Apps Development</a></li>
    <li><a href="javascript:void(0);" (click)="filter('bpo')">BPO Services</a></li>
  </ul>
</div>


<div class="row portfolio-items">


  <ul class="sort-destination isotope" data-sort-id="isotope-list">

    <li class="isotope-item col-sm-6 col-md-3 embedded">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/carna.jpeg" height="263">
          <!--<img class="img-responsive" src="assets/images/portfolio/nayalogo-new.jpg" height="263">-->
        </figure>
        <div class="item-box-desc text-center">
          <h4>Car Navigator</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Create a market cap service for Kyber Network coin base on decentralized.</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 blockchain web">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/block3.jpg" height="263">

        </figure>
        <div class="item-box-desc text-center">
          <h4>Kyber Network</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Create a market cap service for Kyber Network coin base on decentralized.</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>
    <li class="isotope-item col-sm-6 col-md-3 blockchain web">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/block4.jpg" height="263">

        </figure>
        <div class="item-box-desc text-center">
          <h4>Trading system</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Make a crypto currency trading for BTC, BCH, ETH, ETC, XRP, LTC, DASH.</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 apps">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/MyF.jpeg" height="263">

        </figure>
        <div class="item-box-desc text-center">
          <h4>My FS Project</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">iOS Application for simple projects management and organizer</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 development">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/web2.jpeg" height="263">
        </figure>
        <div class="item-box-desc text-center">
          <h4>IH System Company.</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Presentation slides management and editing system</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 development web">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/web1.jpeg">
        </figure>
        <div class="item-box-desc text-center">
          <h4>TO Corporation</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Frontend and Backend Software Development Services</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 development bpo">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/data.jpeg">
        </figure>
        <div class="item-box-desc text-center">
          <h4>Data Entry App</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Frontend and Backend Software Development Services</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 apps">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/crm.jpeg" height="263">
        </figure>
        <div class="item-box-desc text-center">
          <h4>CRM System</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">iOS and Android Application for monitoring and messaging contacts</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>
    <li class="isotope-item col-sm-6 col-md-3 embedded apps">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/areaparking_app.png" height="263">
        </figure>
        <div class="item-box-desc text-center">

          <h4>Auto Parking</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">iOS and Android Application for parking automatically</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>
    <li class="isotope-item col-sm-6 col-md-3 bpo">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/adas.jpeg" height="263">
        </figure>
        <div class="item-box-desc text-center">

          <h4>ADAS</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Labeling images for autonomous driving cars</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>
    <li class="isotope-item col-sm-6 col-md-3 blockchain">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/block1.jpg" height="263">

        </figure>
        <div class="item-box-desc text-center">
          <h4>Traveling Company</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Customer want create a token coin base on NEO to ICO raising fund</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>

    <li class="isotope-item col-sm-6 col-md-3 blockchain apps web">
      <div class="item-box">
        <figure>
          <img class="img-responsive" src="assets/images/demo/block2.jpg" height="263">

        </figure>
        <div class="item-box-desc text-center">
          <h4>Create Wallet</h4>
          <hr class="border divider-sm bg-white">
          <small class="styleColor">Web mobile wallet to store, deposit, send WWW token coin base on ETH.</small>
        </div>
        <hr class="border-isotope-item divider-sm">
      </div>
    </li>
  </ul>
</div>