
.list-project
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.project-item
{
background-color:  burlywood;
padding-bottom: 10px;
}
.border-isotope-item
{
    background-color:green;
    width: 14%;
    height: 1px;
    text-align: center;
    margin-bottom: 5px;
}
.item-box-desc
{
    padding-top: 0%;
}
.item-box-desc h4 {
    font-size: 23px;
    color: white;
    text-transform: uppercase;
    padding: 0px;
    letter-spacing: 0.5px;
    text-align:-webkit-center;
}
.border
{
    background-color:whitesmoke;
    width: 10%;
    height: 1px;
    text-align: center;
    margin-bottom: 10px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #69971C;
}


.nav > li > a:hover{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #69971C;
}
