<div class="text-center">
    <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
       <!--<li data-option-value="*" class="active"><a href="index.html#">Show All</a></li>-->
       <li><a href="javascript:void(0);" (click)="filter('blockchain')">Blockchain Solutions</a></li>
       <li><a href="javascript:void(0);"  (click)="filter('web')">Web Development</a></li>
       <li><a href="javascript:void(0);" (click)="filter('development')">Backend Applications</a></li>
       <li><a href="javascript:void(0);" (click)="filter('apps')">Apps Development</a></li>
       <li><a href="javascript:void(0);" (click)="filter('bpo')">BPO Services</a></li>
    </ul>
 </div>
 <div class="row">
    <ul style="list-style: none;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: stretch;align-content: stretc">
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
       <li class="col-md-3" style="margin-bottom: 10px;">
          <div class="project-item rounded">
             <figure class="figure" style="box-sizing: none">
                <img class="figure-img img-fluid rounded-top" src="assets/images/demo/MyF.jpeg" >
             </figure>
             <div class="item-box-desc text-center">
                <h4>My FS Project</h4>
                <hr class="border divider-sm bg-white">
                <figcaption class="figure-caption">Create a market cap service for Kyber Network coin base on decentralized.</figcaption>
             </div>
             <hr class="border-isotope-item divider-sm">
          </div>
       </li>
    </ul>
 </div>