/* ==========================================================================
   Portfolio Section
   ========================================================================== */
   #portfolios {
    background: #f9f9f9;
  }
  
  #portfolios .mix {
    padding: 0px;
  }
  
  #portfolios .portfolio-item {
    padding: 10px;
  }
  
  #portfolio[_ngcontent-c8] .mix[_ngcontent-c8] {
    margin-bottom: 25px;
}
a.filter.active.btn.btn-common.btn-effect {
    /* background-color: green; */
    border-radius: 20px;
}
a.filter.btn.btn-common.btn-effect {
    margin: 5px;
}
a.filter.active.btn.btn-common.btn-effect :hover{
     background-color: green; 
    border-radius: 20px;
}
  





/*-------------------------------------------------*/





#flex-profile{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}