#portfolio ul.isotope-filter {
    border: 0;
    display: inline-block;
}

#portfolio .nav > li > a {
    color: #999;
}

#portfolio .nav-pills > li:hover > a,
#portfolio .nav-pills > li.active > a,
#portfolio .nav-pills > li.active > a:hover,
#portfolio .nav-pills > li.active > a:focus {
    color: white;
    background-color: transparent;
}

#portfolio .nav-pills > li.active {
    background-color: #62893b;
    border: #62893b;
}

#portfolio .nav li > a {
    padding-left: 20px;
    line-height: 15px;
}

#portfolio .nav li:first-child:after {
    display: none;
}

#portfolio .nav li {
    max-width: 263px;
}

#portfolio .item-box h4 {
    max-width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

#portfolio .nav-pills {
    margin: 0;
    padding: 0;
    background: #FBFBFB;
}

.alternate #portfolio .nav-pills {
    background: #F0F0F0;
}

#portfolio hr.menu-lines {
    margin: 0 0 40px 0;
    padding: 0;
    display: block;
    margin-top: -28px;
}


#ajax_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: #fff;
    overflow-y: auto;
    z-index: 999;
}

    #ajax_modal .btn-modal {
        display: block;
        margin-top: -80px;
        text-align: center;
        margin-bottom: 30px;
    }

    #ajax_modal button.close-modal {
        background-position: -35px -33px;
        display: inline-block;
        width: 73px;
        height: 73px;
    }

        #ajax_modal button.close-modal:hover {
            background-position: -35px -173px;
        }


section.cover,
div.inner-cover {
    position: relative;
    padding: 150px 0;
    display: table;
    width: 100%;
    background: #0F1113;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.inner-cover {
    margin-bottom: 80px;
}

    div.inner-cover h1,
    div.inner-cover h2,
    div.inner-cover h3 {
        color: #fff;
    }

    div.inner-cover.project {
        padding: 200px 0;
    }


/** 06. Item Box (portfolio, etc)
 **************************************************************** **/
.item-box {
    background: #fff;
    overflow: hidden;
    margin: 16px 0;
    width: 100%;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*height: 335px;*/
    background: lightgray;
}

    .item-box.fullwidth {
        max-width: 100%;
    }

    .item-box figure {
        width: 100%;
        display: block;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .item-box.fixed-box figure img {
        width: 100%;
        height: auto;
    }

.item-box-desc {
    padding: 10px 20px;
    overflow: hidden;
    /*height: 90px;*/
}

    .item-box-desc p {
        margin-top: 20px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space: nowrap;*/
    }

.item-box.fixed-box .item-box-desc p {
    height: 98px;
}

.item-box-desc h4 {
    padding: 0;
    margin: 0;
}

.item-box .item-box-desc small {
    display: block;
}

.item-box.fixed-box .item-box-desc {
    height: 256px;
}

.item-box.fixed-box figure {
    max-height: 263px;
}

.item-box .socials {
    border-top: #eee 1px solid;
    text-align: center;
    display: block;
}


/* hover */
.item-box .item-hover,
.item-box .item-hover .overlay {
    background-color: rgba(0,0,0,0.3);
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.item-box .item-hover {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

    .item-box .item-hover,
    .item-box .item-hover button,
    .item-box .item-hover a {
        color: #fff;
    }

        .item-box .item-hover .inner {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -30px;
            z-index: 100;
        }

.item-box:hover .item-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
