<section id="profile" style="background-color: rgba(0, 0, 0, 0); background-image: url('assets/images/demo/slider/bg-profile.png'); background-size: cover; width: 100%; opacity: 1; visibility: inherit; background-position: center center; background-repeat: no-repeat no-repeat;">
  <div class="container">
        <header>
                <div style="padding-top:20px;">
                   <h1>PROFILE</h1>
                   <hr class="divider bg-darkers">
                </div>
        </header>
          <div class="table">
              <div class="table-cell">
                  <div class="bx-wrapper" style="max-width: 80%; margin: 0px auto;text-align: -webkit-left;">
                      <div class="bx-viewport0 row" style="width: 100%; overflow: hidden; position: relative;">
                            <div class="col-md-4">
                                <div class="card" style="width: 12rem;">
                                    <img class="card-img-top" src="assets/images/ava_TrungIzi.png" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Mr. Peter Ngo</p>
                                    </div>
                                </div>
                            </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Peter Ngo
                              </div>
                              <div class="visual-profile">
                                  CEO
                              </div>
                              <div class="destails-profile">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. 
                                        Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque.
                                        Nulla porta dolor at urna posuere ullamcorper.
                                    </p>
                              </div>
                          </div>                 
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="max-width: 100%; margin: 0px auto;text-align: -webkit-left;">
                <div class="img-profile-img">
                        <ul style="display: flex;list-style: none">
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                            <li><img class="img-thumbnail img-profile"  src="assets/images/ava_TrungIzi.png" alt="Card image cap"></li>
                        </ul>
                </div>
          </div>
  </div>
</section>
