<section id="profile" style="background-color: rgba(0, 0, 0, 0); background-image: url('assets/images/demo/slider/bg-profile.png'); background-size: cover; width: 100%; opacity: 1; visibility: inherit; background-position: center center; background-repeat: no-repeat no-repeat;">
  <div class="container">
      <header>
          <div class="btnBlock-wrap"><h1 style="color:white">PROFILE</h1></div>
          <hr class="divider bg-white">
          <div class="table">
              <div class="table-cell">
                  <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                      <div class="bx-viewport0" style="width: 100%; overflow: hidden; position: relative;">
                          <div class="col-md-4">
                              <div class="img-avt">
                                  <div class="name-img">Mr.Peter Ngo</div>
                              </div>

                          </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Peter Ngo
                              </div>
                              <div class="visual-profile">
                                  CEO
                              </div>
                              <div class="destails-profile">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque. Nulla porta dolor at urna posuere ullamcorper.
                              </div>
                          </div>


                      </div>
                      <div class="bx-viewport1" style="width: 100%; overflow: hidden; position: relative;">
                          <div class="col-md-4">
                              <div class="img-avt">
                                  <div class="name-img">Mr.Peter Ngo</div>
                              </div>

                          </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Alex Nguyen
                              </div>
                              <div class="visual-profile">
                                  CEO
                              </div>
                              <div class="destails-profile">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque. Nulla porta dolor at urna posuere ullamcorper.
                              </div>
                          </div>


                      </div>
                      <div class="bx-viewport2" style="width: 100%; overflow: hidden; position: relative;">
                          <div class="col-md-4">
                              <div class="img-avt">
                                  <div class="name-img">Mr.Peter Ngo</div>
                              </div>

                          </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Nathan Dinh
                              </div>
                              <div class="visual-profile">
                                  CHAIRMAN
                              </div>
                              <div class="destails-profile">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque. Nulla porta dolor at urna posuere ullamcorper.
                              </div>
                          </div>
                      </div>
                      <div class="bx-viewport3" style="width: 100%; overflow: hidden; position: relative;">
                          <div class="col-md-4">
                              <div class="img-avt">
                                  <div class="name-img">Mr.Peter Ngo</div>
                              </div>

                          </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Azel Le
                              </div>
                              <div class="visual-profile">
                                  CHAIRMAN
                              </div>
                              <div class="destails-profile">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque. Nulla porta dolor at urna posuere ullamcorper.
                              </div>
                          </div>
                      </div>
                      <div class="bx-viewport4" style="width: 100%; overflow: hidden; position: relative;">
                          <div class="col-md-4">
                              <div class="img-avt">
                                  <div class="name-img">Mr. Alex Nguyen</div>
                              </div>

                          </div>
                          <div class="col-md-8">
                              <div class="name-profile">
                                  Mr. Alex Nguyen
                              </div>
                              <div class="visual-profile">
                                  CHAIRMAN
                              </div>
                              <div class="destails-profile">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nisi iaculis, ultrices nibh eu, ornare diam. Vivamus hendrerit ultricies purus, vel facilisis dui pulvinar sed. Ut et diam velit. In ac dui et nulla interdum pellentesque. Nulla porta dolor at urna posuere ullamcorper.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-outer-navigation-wrap owl-carousel_nav-modern wow fadeIn">
              <div class="owl-carousel quote-creative-carousel owl-loaded" data-items="1" data-lg-items="2" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-navigation-container="#owl-carousel-nav" data-dots-each="1">
                  <div class="item1">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item2">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item3">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item4">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item5">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item5">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item5">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item5">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
                  <div class="item5">
                      <img src="assets/images/ava_TrungIzi.png" />
                  </div>
              </div>
          </div>
      </header>
  </div>
</section>
