
.name-profile{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    padding: 5px 0px;
    letter-spacing: 0.5px;
    font-weight: bolder;

}
.visual-profile{
    padding: 5px 0px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: -webkit-left;
}
.destails-profile p
{
    font-size: 15px;
    color: white;
    padding: 5px 0px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: -webkit-left;
    font-weight: 300;
}
.card-body {
    background-color: rebeccapurple;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 768px){
    
    .name-profile{
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        padding: 5px 0px;
        letter-spacing: 0.5px;
        text-align:-webkit-center;

    }
    .visual-profile{
        padding: 5px 0px;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .destails-profile p
    {
        font-size: 14px;
        color: white;
        padding: 0px;
        line-height: 25px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card-body {
        background-color: rebeccapurple;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin: auto;
    }
    .name-profile {
        margin-top: 9px;
    }
    .carousel-inner.row.w-100.mx-auto[_ngcontent-c5] {
        padding-bottom: 40px;
        padding-top: 0px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0.5rem;
        border-radius: 2px;
    }
  }
  .card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
    border-radius: 2px;
    color: #fff;
}
  img.img-fluid.mx-auto.d-block {
    border-radius: 3px;
    width: 71%;
    max-height: 200px;
}


  /* ==========================================================================
   Slide
   ========================================================================== */
   @media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
.carousel-inner.row.w-100.mx-auto {
    padding-bottom: 40px;
    padding-top: 40px;
}
.col-lg-3.col-md-6.col-xs-12.mix.development.print {
    padding-bottom: 20px;
}
.col-lg-3.col-md-6.col-xs-12.mix.development.print {
    margin-bottom: 25px;
}
 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 0px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}