
.name-profile{
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 0px;
    letter-spacing: 0.5px;
    font-weight: bolder;

}
.visual-profile{
    padding: 5px 0px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: -webkit-left;
}
.destails-profile p
{
    font-size: 16px;
    color: white;
    padding: 5px 0px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: -webkit-left;
}
.card-body {
    background-color: rebeccapurple;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.img-profile
{
    margin: 4px;
}
@media only screen and (max-width: 768px){
    
    .name-profile{
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        padding: 5px 0px;
        letter-spacing: 0.5px;
        text-align:-webkit-center;

    }
    .visual-profile{
        padding: 5px 0px;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .destails-profile p
    {
        font-size: 16px;
        color: white;
        padding: 5px 0px;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card-body {
        background-color: rebeccapurple;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
    }
    .card
    {
        text-align:-webkit-center;
    }
    .img-profile
    {
        margin: 4px;
    }
  }