<footer class="footer-area section-padding">
    <div class="container" style="height: 30px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="address">
                            <h3>ADDRESS</h3>
                            <ul>
                                <li><a href="#">Sunrise Building</a></li>
                                <li><a href="#">25 2-9 Street, Hai Chau District</a></li>
                                <li><a href="#">Da Nang City</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="home">
                            <h3>PHONE</h3>
                            <ul>
                                <li><a href="#">(+84) 982 082 872</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="email">
                            <h3>EMAIL</h3>
                            <ul>
                                <li><a href="#">contact@napaglobal.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-widget">
                            <h3><img src="assets/images/logo12.png" alt=""></h3>
                            <div class="widget">
                                <ul class="footer-social">
                                    <li><a href="https://www.instagram.com/" target="_blank" class="social fa fa-instagram"></a></li>
                                    <li><a href="https://twitter.com/" target="_blank" class="social fa fa-twitter"></a></li>
                                    <li><a href="https://www.facebook.com/" target="_blank" class="social fa fa-facebook"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info">
                        <p>© 2018 Napaglobal. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Get Start To Day</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group input-modal">
              <div class="input-group">
                <input required="" class="fullwidth form-control input-lg" type="text" name="contact_name" id="contact_name" value="" placeholder="Fullname *" title="Name">
              </div>
              <div class="input-group input-modal">
                <input required="" class="fullwidth form-control input-lg" type="text" name="contact_company" id="contact_name" value="" placeholder="Company *" title="Name">
              </div>
              <div class="input-group input-modal">
                <input required="" class="fullwidth form-control input-lg" type="email" name="contact_email" id="contact_email" value="" placeholder="Work email address *" title="Email">
              </div>
              <div class="input-group input-modal">
                <select id="form_need" name="need" class="fullwidth form-control input-lg" required="required" data-error="Enterested service of product">
                    <option value="">Please specify your need *</option>
                    <option value="Request quotation">Request quotation</option>
                    <option value="Request order status">Request order status</option>
                    <option value="Request copy of an invoice">Request copy of an invoice</option>
                    <option value="Other">Other</option>
                </select>
              </div>
              <div class="input-group input-modal">
                <textarea required="" class="fullwidth form-control input-lg" rows="3" name="contact_comment" id="contact_comment" placeholder="Send your message *"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark btn-common" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
</footer>