<footer class="footer-area section-padding">
  <div class="container" style="height: 30px"></div>
  <div class="container">
      <div class="rows">
          <div class="col-md-8 col-xs-12">
              <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="address">
                          <h3>ADDRESS</h3>
                          <ul>
                              <li><a href="#">Sunrise Building</a></li>
                              <li><a href="#">25 2-9 Street, Hai Chau District</a></li>
                              <li><a href="#">Da Nang City</a></li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="home">
                          <h3>PHONE</h3>
                          <ul>
                              <li><a href="#">(+84) 982 082 872</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="email">
                          <h3>EMAIL</h3>
                          <ul>
                              <li><a href="#">contact@napaglobal.com</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="rows">
                  <h3 style="text-align:center;"><img src="assets/images/logo12.png" alt=""></h3>
                  <div class="widget">
                      <ul class="footer-social">
                          <li><a href="https://www.instagram.com/" target="_blank" class="social fa fa-instagram"></a></li>
                          <li><a href="https://twitter.com/" target="_blank" class="social fa fa-twitter"></a></li>
                          <li><a href="https://www.facebook.com/" target="_blank" class="social fa fa-facebook"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-info">
                    <p>© 2018 Napaglobal. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</footer>
